<div class="page-header">
  <h1><%= @user.full_name %></h1>
  <%= link_to "Add Friend", new_user_friendship_path(friend_id: @user), class: 'btn' %>
</div>

<% if @statuses %>
  <% @statuses.each do |status| %>
    <div class="well">
      <%= status.content %>
      <hr />
      <%= link_to time_ago_in_words(status.created_at), status_path(status) %> ago
    </div>
  <% end %>
<% end %>